<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Cart page configuration</title>
        <title lang="de-DE">Konfiguration der Warenkorb-Seite</title>

        <input-field type="bool">
            <name>status</name>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>cartStyle</name>
            <label>Cart styling</label>
            <label lang="de-DE">Wagen-Stil</label>
            <options>
                <option>
                    <id>cart-style-one</id>
                    <name>Neo Cart</name>
                    <name lang="de-DE">Neo Wagen</name>
                </option>
                <option>
                    <id>cart-style-two</id>
                    <name>Clasis cart</name>
                    <name lang="de-DE">Clasis Wagen</name>
                </option>
                <option>
                    <id>cart-style-three</id>
                    <name>Grid cart</name>
                    <name lang="de-DE">Gitter Wagen</name>
                </option>
                <option>
                    <id>cart-style-four</id>
                    <name>Single centered cart</name>
                    <name lang="de-DE">Einzelner zentrierter Wagen</name>
                </option>
                <option>
                    <id>cart-style-five</id>
                    <name>Refined retail cart</name>
                    <name lang="de-DE">Verfeinerter Einkaufswagen</name>
                </option>
            </options>
        </input-field>
    </card>

</config>
