{% sw_extends '@Storefront/storefront/component/line-item/type/product.html.twig' %}

{% set styleType = config('ICTECHCartPageStyling.config.cartStyle') %}
{% set status = config('ICTECHCartPageStyling.config.status') %}

{% block component_line_item_type_product %}
    <div class="{{ lineItemClasses }}">
        <div class="row line-item-row">
            {% if status == true and
                styleType == "cart-style-one" and
                app.request.attributes.get('_route') == 'frontend.checkout.cart.page'
            %}
                {% sw_include '@ICTECHCartPageStyling/storefront/component/line-item/type/style-one-product.html.twig' %}
            {% elseif status == true and
                styleType == "cart-style-two" and
                app.request.attributes.get('_route') == 'frontend.checkout.cart.page'
            %}
                {% sw_include '@ICTECHCartPageStyling/storefront/component/line-item/type/style-two-product.html.twig' %}
            {% elseif status == true and
                styleType == "cart-style-three" and
                app.request.attributes.get('_route') == 'frontend.checkout.cart.page'
            %}
                {% sw_include '@ICTECHCartPageStyling/storefront/component/line-item/type/style-three-product.html.twig' %}
            {% elseif status == true and
                styleType == "cart-style-four" and
                app.request.attributes.get('_route') == 'frontend.checkout.cart.page'
            %}
                {% sw_include '@ICTECHCartPageStyling/storefront/component/line-item/type/style-four-product.html.twig' %}
            {% elseif status == true and
                styleType == "cart-style-five" and
                app.request.attributes.get('_route') == 'frontend.checkout.cart.page'
            %}
                {% sw_include '@ICTECHCartPageStyling/storefront/component/line-item/type/style-five-product.html.twig' %}
            {% else %}
                {{ parent() }}
            {% endif %}
        </div>

        {% if displayMode === 'order' %}
            {% block component_line_item_type_product_downloads_table %}
                <div class="order-detail-content-list">
                    {% sw_include '@Storefront/storefront/component/line-item/element/downloads.html.twig' %}
                </div>
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
