/.idea
/vendor/

###> shopware/core ###
.env.local
.env.local.php
.env.*.local
/public/bundles/*
/public/media/*
/public/theme/*
/public/thumbnail/*
/public/sitemap/*
/files/*
!/files/.htaccess
/var/*
!/var/.htaccess
/auth.json
/install.lock
public/asset-manifest.json
files/asset-manifest.json
public
compose.override.yaml
compose.yaml
composer.json
symfony.lock
composer.lock
.env
###< shopware/core ###
