{% block sw_cms_block_ict_text_image_text %}
    <div class="sw-cms-block-ict-text-image-text">
        <div class="sw-cms-block-ict-text-image-text__text-left">
            <slot name="left"></slot>
        </div>
        <div class="sw-cms-block-ict-text-image-text__image">
            <slot name="center"></slot>
        </div>
        <div class="sw-cms-block-ict-text-image-text__text-right">
            <slot name="right"></slot>
        </div>
    </div>
{% endblock %}