{% block ict_blog_detail %}
    <sw-page>
        {% block ict_blog_detail_header %}
            <template #smart-bar-header>
                <h2>
                    {{ blog.name }}
                </h2>
            </template>
        {% endblock %}

        {% block ict_block_detail_actions %}
            <template #smart-bar-actions>
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block ict_blog_actions_abort %}
                    <sw-button>
                        Cancel
                    </sw-button>
                {% endblock %}


                <sw-button-group :split-button="true" >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block ict_blog_detail_actions_save %}
                        <sw-button-process
                                class="sw-product-detail__save-action"
                                :process-success="isSaveSuccessful"
                                variant="primary"
                                :is-loading="isLoading"
                                {% if VUE3 %}
                                    @update:process-success="saveFinish"
                                {% else %}
                                    @process-finish="saveFinish"
                                {% endif %}
                                @click.prevent="onSave"
                        >
                            Save
                        </sw-button-process>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block ict_blog_detail_actions_save_context_menu %}
                        <sw-context-button>
                            <template #button>
                                <sw-button
                                        class="ict-blog-detail__button-context-menu"
                                        square
                                        variant="primary"
                                >
                                    <sw-icon
                                            name="regular-chevron-down-xs"
                                            size="16"
                                    />
                                </sw-button>
                            </template>

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block ict_blog_detail_actions_save_context_menu_actions %}
                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block ict_blog_detail_actions_duplicate %}
                                    <sw-context-menu-item
                                            class="ict-blog-detail__save-duplicate-action"
                                    >
                                        Save and duplicate
                                    </sw-context-menu-item>
                                {% endblock %}
                            {% endblock %}
                        </sw-context-button>
                    {% endblock %}
                </sw-button-group>
            </template>
        {% endblock %}
        {% block ict_blog_detail_content %}
            <template #content>
                <sw-card-view>
                    {% block ict_blog_create_base_form %}
                        <sw-card title="Blog"  position-identifier="ict-blog-create-base-form"large>
                            <sw-container
                                    columns="repeat(auto-fit, minmax(250px, 1fr))"
                                    gap="0px 32px"
                            >
                                <sw-text-field
                                        :copyable="true"
                                        name="sw-field--blog-name"
                                        label="Name"
                                        v-model="blog.name"
                                        required
                                        :class="errorClass"
                                        @input="onInputRemoveClass"
                                />
                                <sw-textarea-field
                                        type="textarea"
                                        label="Description"
                                        placeholder="Blog Description"
                                        v-model="blog.description"
                                        :value="blog.description"
                                />
                            </sw-container>
                            <sw-switch-field
                                    label="Active"
                                    v-model="blog.active"
                                    :value="blog.active"
                            />
                            <sw-datepicker
                                    date-type="datetime"
                                    label="Release Date"
                                    placeholder="$tc('Enter release date...')"
                                    value=""
                                    v-model="blog.releaseDate"
                                    :value="blog.releaseDate"
                            />
                            <sw-text-field
                                    :copyable="true"
                                    label="Author"
                                    v-model="blog.author"
                                    :value="blog.author"
                            />
                            <sw-entity-single-select
                                    {% if VUE3 %}
                                        v-model:value="blog.categoryId"
                                    {% else %}
                                        v-model="blog.categoryId"
                                    {% endif %}
                                    label="Ict Blog Categories"
                                    entity="ict_category"
                            />
                            <sw-entity-multi-select
                                    v-model="blog.products"
                                    entity-name="product"
                                    :label="$tc('Products')"
                            />
                        </sw-card>
                    {% endblock %}
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
