<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_ict_image_text_row %}
<div class="sw-cms-block-ict-image-text-row">
    <div class="sw-cms-block-ict-image-text-row__left">
        <slot name="ict-left-image"></slot>
        <slot name="ict-left-text"></slot>
    </div>

    <div class="sw-cms-block-ict-image-text-row__center">
        <slot name="ict-center-image"></slot>
        <slot name="ict-center-text"></slot>
    </div>

    <div class="sw-cms-block-ict-image-text-row__center">
        <slot name="ict-center-image-second"></slot>
        <slot name="ict-center-text-second"></slot>
    </div>

    <div class="sw-cms-block-image-ict-text-row__right">
        <slot name="ict-right-image"></slot>
        <slot name="ict-right-text"></slot>
    </div>
</div>
{% endblock %}
