<!-- eslint-disable-next-line sw-delemConfigeprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image %}
<div
    class="sw-cms-el-image"
    :style="horizontalAlign">
    <div
        class="sw-cms-el-image__content"
        :class="displayModeClass"
        :style="styles"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_content %}
        <img
            :src="mediaUrl"
            :style="imgStyles"
            alt=""
        >
            <button class="btn">Button</button>
        {% endblock %}
    </div>
</div>
{% endblock %}
