{%  block ict_category_blog_create %}
    <sw-page>
        {% block ict_category_blog_create_header %}
            <template #smart-bar-header>
                <h2>New Category</h2>
            </template>
        {% endblock %}

        {% block ict_category_blogcreate_actions %}
            <template #smart-bar-actions>
                <sw-button-process
                        class="ict_category_blog-create__save-action"
                        :is-loading="isLoading"
                        :disabled="isLoading"
                        :process-success="isSaveSuccessful"
                        variant="primary"
                        {% if VUE3 %}
                            @update:process-success="saveFinish"
                        {% else %}
                            @process-finish="saveFinish"
                        {% endif %}
                        @click.prevent="onSave"
                >
                    Save
                </sw-button-process>
            </template>
        {% endblock %}

        {% block ict_category_blog_create_content %}
            <template #content>
                <sw-card-view>
                    {% block ict_category_blog_create_base_form %}
                        <sw-card title="Category"  position-identifier="ict-category-blog-create-base-form"large>
                            <sw-container
                                    columns="repeat(auto-fit, minmax(250px, 1fr))"
                                    gap="0px 32px"
                            >
                                <sw-text-field
                                        :copyable="true"
                                        name="sw-field--category-blog-name"
                                        label="Name"
                                        v-model="category.name"
                                        :required="isTitleRequired"
                                        :class="errorClass"
                                        @input="onInputRemoveClass"
                                />
                            </sw-container>
                        </sw-card>
                    {% endblock %}
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}