{% block page_checkout_aside %}
<div class="checkout-aside">
    {% block page_checkout_aside_container %}
        <div class="checkout-aside-container">
            {% block page_checkout_aside_summary %}
            {% endblock %}
            {% block page_checkout_aside_actions %}
            {% endblock %}
        </div>
    {% endblock %}
</div>
{% endblock %}
