{% block ict_blog_list %}
    <sw-page>
        {% block ict_blog_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block ict_blog_list_smart_bar_header_title %}
                    <h2>
                        {% block ict_blog_list_smart_bar_header_title_text %}
                            ICT Blogs
                        {% endblock %}
                        {% block ict_blog_list_smart_bar_header_amount %}
                        <span v-if="total" class="sw-page__smart-bar-amount">
                            ({{ total }})
                        </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block ict_blog_list_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button-group split-button>
                    {% block ict_blog_list_smart_bar_actions_add %}
                    <sw-button
                        :router-link="{ name: 'ict.blog.create'}"
                        variant="primary"
                    >
                        Add Blog
                    </sw-button>
                    {% endblock %}
                </sw-button-group>
            </template>
        {% endblock %}
        <template slot="content">
            <sw-entity-listing
                    v-if="blogs"
                    :items="blogs"
                    :repository="repository"
                    :showSelection="false"
                    :columns="BlogColumns"
                    detail-route="ict.blog.detail"
                    class="ict-blog-list-grid"
                    identifier="ict-blog-list"
            >
                <template slot="column-name" slot-scope="{ item }">
                    <router-link :to="{ name: 'ict.blog.detail', params: { id: item.id } }">
                        {{ item.translated ? item.translated.name : item.name }}
                    </router-link>
                </template>
{#                    {{ item.name }}#}
{#                </router-link>#}
{#                <template slot="column-description" slot-scope="{ item }">#}
{#                    {{item.description}}#}
{#                </template>#}
            </sw-entity-listing>
        </template>
    </sw-page>
{% endblock %}