{% block cart_style_one_summary %}

    {% block style_one_page_page_checkout_summary_header %}
        <h2 class="checkout-aside-summary-header">
            {{ "checkout.summaryHeader"|trans|sw_sanitize }}
        </h2>
    {% endblock %}

    {% sw_include '@Storefront/storefront/page/checkout/summary.html.twig' %}

    {% block page_checkout_aside_actions %}
        {% block page_checkout_cart_action_proceed %}
        {% endblock %}
    {% endblock %}
{% endblock %}