{% block cart_style_five_summary %}

    {% block style_one_page_page_checkout_summary_header %}
        <h2 class="checkout-aside-summary-header">
            {{ "checkout.summaryHeader"|trans|sw_sanitize }}
        </h2>
    {% endblock %}

    {% sw_include '@Storefront/storefront/page/checkout/summary.html.twig' %}

    {% block page_checkout_aside_actions %}
        {% block page_checkout_cart_action_proceed %}
            <div class="checkout-aside-action d-grid">
                <a href="{{ path('frontend.checkout.confirm.page') }}"
                   class="btn btn-primary btn-lg begin-checkout-btn"
                   title="{{ "checkout.proceedLink"|trans|striptags }}">
                    {{ "cartStyleFive.checkout.proceedToCheckout"|trans|upper }}
                </a>
            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}
